body {
    max-width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #00277E;
    margin: 30px;
}

.header__left {
    font-size: 30px;
}

.list {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.list__btn {
    text-decoration: none;
    margin: 0 10px;
}

/* mainにはcssをつけない、bodyに関連するようにする */

.main__img {
    width: 50%;
    float: right;
    /* display: inline-block; */
    position: relative;
    z-index: 100;
}

.main__img img {
    width: 100%;
}

.main__left {
    float: left;
    width: 75%;
    margin-top: -100px;
    position: relative;
    z-index: 0;
}


.main__ttl {
    font-size: 300%;
    font-weight: 150;
}

.main__box {
    height: 110px;
    background-color: #00277E;
}